<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheilv.poi.mapper.BomLinkEngineerManufactureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itheilv.poi.model.BomLinkEngineerManufacture">
        <id column="ID" property="id" />
        <result column="EBOM_NAME" property="ebomName" />
        <result column="EBOM_CODE" property="ebomCode" />
        <result column="MBOM_NAME" property="mbomName" />
        <result column="MBOM_CODE" property="mbomCode" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="REMARKS" property="remarks" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="TENANT_ID" property="tenantId" />
        <result column="EBOM_ID" property="ebomId" />
        <result column="MBOM_ID" property="mbomId" />
        <result column="PROJECT_ID" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EBOM_NAME, EBOM_CODE, MBOM_NAME, MBOM_CODE, ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, REMARKS, DEL_FLAG, TENANT_ID, EBOM_ID, MBOM_ID, PROJECT_ID
    </sql>

</mapper>
